body {
    background-color: antiquewhite;
    padding-top: 120px;
}

#Menu button:hover {
    box-shadow: 0 0 8px black;
}

#nav1 {
    background-color: antiquewhite;
}

h1 {
    font-size: 50px;
    font-family: 'Tangerine', serif;
}

h2 {
    font-size: 40px;
    font-family: 'Tangerine', serif;
}

h3 {
    font-size: 30px;
    font-family: 'Tangerine', serif;
}

h4 {
    font-size: 20px;
    font-family: 'Tangerine', serif;
}

h5, h6 {
    font-family: 'Tangerine', serif;
}

.Welcome {
    color: #808080;
    font-size: 12px;
}
